.doctor-container{
    padding-top:10px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    background-color: whitesmoke;
    min-height:100vh
}
.doctor{
    background-color: white;
    padding: 10px;
    border-radius: 10px;
}
.doctor:hover{
  box-shadow: 0px 1px 15px rgba(0,0,0,0.4);
}
